.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #ffffff;
  padding: 20px;
}

.App-header input {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
}

main {
  padding: 20px;
}
